/* FONT IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


html, body {
    background-color: rgb(6, 4, 8);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* taustaväri liila: rgb(84,57,101)*/

h1 {
    color: aliceblue;
    font-size: 6rem;
    
}

h2 {
    text-transform: lowercase;
    font-family: 'Lora', serif;
    font-weight: 200;
    letter-spacing: 2px;
    color: black;
}

a {
    text-decoration: none;
    transition: all 0.4s ease;
    font-weight: 200;
    letter-spacing: 3px;
    color: white;
}

a:hover {
    color: rgb(128, 83, 146);
}

img {
    width: 100%;
}

/* --- N A V I G A A T I O --- */
.nav-list {
    height: 40px;
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-left: 55%;

}

.nav-links {
    text-transform: uppercase;
    font-family:'Courier New', Courier, monospace;
    font-size: 14px;
}

/* --- H E R O --- */
#hero {
    width: 100%;
    height: 100vh;
}

.hero-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/intropic.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
    width: 100%;
}

.hero-text {
    color: white;
    width: 40%;
    height: auto;
    position: absolute; 
    top: 40%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center; 
}

.hero-body {
    font-size: 22px;
    line-height: 37px;
    font-family: 'Lora';
    color: rgb(187, 182, 192);
    margin-top: -60px;
}

/* --- A B O U T  M E --- */
#about {
    width: 100%;
    height: 100vh;
    background-color: azure;
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 150px;
    padding: 300px 140px;
}

.about-me {
    padding: 10px;
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 27px;
    font-family: 'Lora';
}

.about-me h1 {
    color:rgb(6, 4, 8);
    line-height: 12px;
}

.about-text {
    color:rgba(21, 22, 22, 0.824);
    letter-spacing: 1px;
}

.about-points {
    padding: 10px;
    font-size: 16px;
    line-height: 27px;
    font-family: 'Lora';
    color:rgba(21, 22, 22, 0.824);
}

.about-skills {
    border-left: 2px solid #918d93;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding-left: 30px;
    letter-spacing: 1px;
    position: relative;
}

.about-skills::before {
    content: "";
    position: absolute;
    top: 0;
    left: -9px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #977aa9;
}

#experience {
    width: 100%;
    height: 100vh;
    background-color: #b2a3bb;
}

.experience {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 150px;
    padding: 300px 140px;
}

.experience h1 {
    line-height: 20px;
    text-align: left;
}



/* --- F O O T E R --- */

footer {
    height: 60px;
    color: azure;
    padding: 100px 200px;
}

#footer {
    font-family: 'Lora';
    text-transform: none;
    letter-spacing: 1px;
}